/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 11px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #6eb43f;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  color: black;
  padding: 4px 10px 4px 10px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.select-items div:nth-child(even) {
  background-color: rgb(213,220,228);
}

.select-items div:nth-child(odd) {
  background-color: rgb(172,185,202);
}

/*style the items (options), including the selected item:*/
.select-selected {
  color: black;
  padding: 8px 10px 8px 10px;
  margin: 0;
  margin-top: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  background: white;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #6eb43f;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: white;
  font-weight: bold;
}
