* {box-sizing: border-box}

.banner {
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 0px;
}

.collapsebutton, .collapsebutton a {
  float: left;
  width: 2%;
  font: bold 16px/1.5 Arial, Helvetica, sans-serif;
  color: #6eb43f;
  text-align: left;
  background-color: #fafafa;
  padding: 3px;
}

.appname {
  float: left;
  width: 98%;
  font: bold 18px/1.5 Arial, Helvetica, sans-serif;
  color: #0082c8;
  text-align: center;
  background-color: #fafafa;
  padding: 3px;
}

/* Main content */
.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  padding: 0px;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444444;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 0px;
}

.imglogo {
  padding-left: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 6px 8px 6px 8px;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  color: black;
  text-shadow: 1px 1px 3px #999999;
  background-color: #f1f1f1;
  margin: 3px 4px 3px 4px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #e0e0e0 #e0e0e0 #b0b0b0 #b0b0b0;
  text-align: left;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
  padding: 6px 8px 6px 8px;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  color: black;
  text-shadow: 1px 1px 3px #999999;
  margin: 3px 4px 3px 4px;
  background-color: #f1f1f1;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #e0e0e0 #e0e0e0 #b0b0b0 #b0b0b0;
  text-align: left;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #444444;
  padding-left: 0px;
}

.dropdown-container a {
  background-color: #d1d1d1;
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #e0e0e0 #e0e0e0 #b0b0b0 #b0b0b0;
  padding-left: 14px;
  font: 12px/1.5 Arial, Helvetica, sans-serif;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn-sm {
  padding: 6px 8px 6px 14px;
  font: 12px/1.5 Arial, Helvetica, sans-serif;
  color: black;
  text-shadow: 1px 1px 3px #999999;
  margin: 3px 4px 3px 4px;
  background-color: #d1d1d1;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #e0e0e0 #e0e0e0 #b0b0b0 #b0b0b0;
  text-align: left;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container-sm {
  display: none;
  background-color: #444444;
  padding-left: 0px;
}

.dropdown-container-sm a {
  background-color: #b1b1b1;
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #e0e0e0 #e0e0e0 #b0b0b0 #b0b0b0;
  padding-left: 22px;
  font: 11px/1.5 Arial, Helvetica, sans-serif;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover, .dropdown-btn-sm:hover {
  background-color: #6eb43f;
  border-width: 1.5px;
  border-radius: 3px;
  border-color: rgb(166,215,136) rgb(166,215,136) rgb(31,158,69) rgb(31,158,69);
  color: white;
  text-shadow: 1px 1px 3px #111111;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
